* {
    box-sizing: border-box;
  }
  
  body {
    background: linear-gradient(125deg, #19191a 0%, #171529 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.navbar {
    width: 100%;
    background-color: #26263b; /* Background color for navbar */
    padding: 10px 20px; /* Space around the content */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space out the logo and nav links */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10; /* Make sure it's on top of other content */
  }

  .logo-text {
    font-size: 20px; /* Adjust font size */
    color: white;
    position: absolute; /* Position text relative to the logo */
    top: 50%; /* Center vertically with logo */
    left: 180px; /* Position slightly to the right of the logo */
    transform: translate(-50%, -50%); /* Center text based on its size */
    animation: fadeText 3s infinite; /* Apply the fade-in and fade-out animation */
    pointer-events: none; /* Ensure the text does not block interactions */
  }

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

  body, html {
    height: 100vh;
    margin: 0;
  }
  
  .sky-container {
    width: 500px;
    height: 500px;
    transform: rotateZ(45deg);
  }
  
  .star {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    background: linear-gradient(-45deg, #6a6ada, rgba(0, 0, 255, 0));
    filter: drop-shadow(0 0 6px #6a6ada);
    animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
  }
  
  .star::before, .star::after {
    position: absolute;
    content: '';
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #6a6ada, rgba(0, 0, 255, 0));
    border-radius: 100%;
    transform: translateX(50%) rotateZ(45deg);
    animation: shining 3000ms ease-in-out infinite;
  }
  
  .star::after {
    transform: translateX(50%) rotateZ(-45deg);
  }
  
  .star:nth-child(1) {
    top: calc(50% - 200px);
    left: calc(50% - 300px);
    animation-delay: 650ms;
  }
  .star:nth-child(1)::before, .star:nth-child(1)::after {
    animation-delay: 650ms;
  }
  
  .star:nth-child(2) {
    top: calc(50% - -50px);
    left: calc(50% - 190px);
    animation-delay: 150ms;
  }
  .star:nth-child(2)::before, .star:nth-child(2)::after {
    animation-delay: 150ms;
  }
  
  .star:nth-child(3) {
    top: calc(50% - -90px);
    left: calc(50% - 200px);
    animation-delay: 1600ms;
  }
  .star:nth-child(3)::before, .star:nth-child(3)::after {
    animation-delay: 1600ms;
  }
  
  .star:nth-child(4) {
    top: calc(50% - 50px);
    left: calc(50% - 250px);
    animation-delay: 4700ms;
  }
  .star:nth-child(4)::before, .star:nth-child(4)::after {
    animation-delay: 4700ms;
  }
  
  .star:nth-child(5) {
    top: calc(50% - -190px);
    left: calc(50% - 200px);
    animation-delay: 2100ms;
  }
  .star:nth-child(5)::before, .star:nth-child(5)::after {
    animation-delay: 2100ms;
  }
  
  
  /* Animations */
  @keyframes tail {
    0% {
      width: 0;
    }
    
    30% {
      width: 100px;
    }
    
    100% {
      width: 0;
    }
  }
  
  @keyframes shining {
    0% {
      width: 0;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 0;
    }
  }
  
  @keyframes shooting {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(320px);
    }
  }

.button-group {
    display: flex;
    gap: 10px; /* Space between buttons */
}

.button {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 0.1px solid #685c5c80;
    transition: 0.5s ease;
    user-select: none;
    text-decoration: none;
}

.button:hover,
.button:focus {
    color: #ffffff;
    background: #6a6ada;
    border: 0.5px solid #6a6ada;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #19191a, 0 0 20px #19191a, 0 0 50px #19191a, 0 0 100px #6a6ada;
}

.navbar .logo {
    width: 45px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px;
  }

  .loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%
  }
  
  .loader {
    width: 80px;
    height: 80px;
    position: relative;
  }
  
  .loader .circle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: pulse 1.2s infinite ease-in-out;
  }
  
  .loader .circle:nth-child(1) {
    top: 0;
    left: 30px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  
  .loader .circle:nth-child(2) {
    top: 30px;
    left: 60px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    animation-delay: 0.4s;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  
  .loader .circle:nth-child(3) {
    top: 60px;
    left: 30px;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    animation-delay: 0.8s;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  
  .loader .circle:nth-child(4) {
    top: 30px;
    left: 0;
    background-color: #3EECAC;
    background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);
    animation-delay: 1.2s;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(0.2);
      opacity: 0.5;
    }
  
    100% {
      transform: scale(1);
    }
  }