@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #0e0e10;
  color: #ffffff;
  font-family: 'Segoe UI';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #26263b;
}

.logo {
  width: 60px;
  height: auto;
  margin-right: 10px;
}

.main-content {
  flex: 1;
  width: 100%;
}

.container {
  flex-grow: 1; 
}

.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;

  display: flex;
  align-items: center;
  padding: 10px 18px;

  background-color: #5858b3;;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  opacity: 1;

  transition: 
    opacity 0.3s ease, 
    background-color 0.3s ease, 
    backdrop-filter 0.3s ease;
}

.navbar-static {
  position:sticky;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;

  display: flex;
  align-items: center;
  padding: 10px 18px;

  background-color: #5858b3;;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  opacity: 1;

  transition: 
    opacity 0.3s ease, 
    background-color 0.3s ease, 
    backdrop-filter 0.3s ease;
}



.navbar.transparent {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
}

.navbar .logo {
  width: 40px;
  height: auto;
  border-radius: 8px;
  margin-right: 12px;
}

.nav-tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}

.nav-tabs li {
  display: block;
}

.nav-tabs .tab-link {
  color: #ffffffb0;
  text-decoration: none;
  padding: 8px 14px;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 6px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-tabs .tab-link:hover {
  color: #ffffff;
  background-color: #6a6ada;
}



.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 50px;
  width: 100%;
  flex-grow: 1;
  min-height: 80vh;
}

.hero-container {
  background-image: url('/assets/images/bg.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero-content {
  max-width: 50%;
}

.hero-content h1 {
  font-size: 5em;
}

.highlight {
  color: #6a6ada;
  font-weight: bold;
  display: inline-block; 
  position: relative; 
  transition: opacity 0.5s ease, transform 0.5s ease; 
}


.highlight-exit {
  opacity: 1;
}


.highlight-exit-active {
  transform: translateY(20px); 
  opacity: 0; 
}


.highlight-enter {
  transform: translateY(-20px);
  opacity: 0; 
}


.highlight-enter-active {
  transform: translateY(0); 
  opacity: 1; 
}

.advantages-section {
  margin-top: -4.75% !important;
}


.cta-buttons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.cta-button {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #ffffff80;
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  border: 0.1px solid #685c5c80;
  transition: 0.5s ease;
  user-select: none;
  text-decoration: none;
}

.cta-button:hover {
  background-color: #6a6ada;
}

.hero-image {
  width: 100%;
  max-width: 650px;
  height: auto;
  object-fit: contain;
  max-height: 90vh;
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: none;
}


@media (max-width: 768px) {
  .container.hero-container {
      flex-direction: column;
      text-align: center;
      align-items: center;
  }

  .hero-image {
      max-width: 100%;
      margin-top: 20px;
      position: relative;
      right: 0;
      transform: none;
  }

  .hero-content {
      max-width: 100%;
      margin: 0 auto;
  }

  .advantages-grid {
      grid-template-columns: 1fr;
  }

  .footer .footer-links a {
      display: block;
      margin: 5px 0;
  }
}

.background-container {
  position: relative;
  height: 100vh; 
  background-image: url("/assets/images/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.configs-section {
  width: 100%;
  padding: 100px 10px 120px;
  text-align: center;
  background-color: #141420;
 background-image: 
    linear-gradient(rgba(20, 20, 32, 0.4), rgba(20, 20, 32, 1.0)),
    url(/assets/images/bg2.svg);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(580px, 1fr));
  gap: 40px;
  justify-items: center;
  min-height: calc(100vh - 120px);
}


.configs-section > div {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 100%;
  width: 100%; 
  padding: 20px;
  box-sizing: border-box; 
  position:relative;
}

.configs-section h2 {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #ffffff;
  line-height: 1.2;
  letter-spacing: 1px;
}

.configs-section p {
  font-size: 28px;
  color: #6a6ada;
  margin-top: 0;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.configs-image {
  position: absolute; 
  width: 100%;
  height: 100%;
  object-fit: contain; 
  opacity: 0; 
  transition: opacity 0.5s ease;
  display: none;
}

.configs-image.active {
  display: block; 
  opacity: 1; 
}

.image-wrapper {
  position: relative;
  width: 100%; 
  max-width: 800px;
  height: 500px; 
  overflow: hidden; 
}


@keyframes slideIn {
  from {
      transform: translateX(100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideOut {
  from {
      transform: translateX(0);
      opacity: 1;
  }
  to {
      transform: translateX(-100%);
      opacity: 0; 
  }
}

.configs-image.slide-in {
  animation: slideIn 0.5s forwards; 
}

.configs-image.slide-out {
  animation: slideOut 0.5s forwards; 
}

.advantages-section {
  width: 100%;
  padding: 80px 20px;
  background-color: #0e0e16;
  text-align: center;
  color: #d0d0d0;
}

.advantages-section h2 {
  color: rgb(#2c2c44);
  font-size: 42px;
  margin-bottom: 10px;
  font-weight: 700;
  text-align: center;
  max-width: 100%;
  margin-inline: auto;
}

.subtitle {
 font-size: 16px;
  color: #888;
  margin-bottom: 50px;
  text-align: center;
  max-width: 700px;
  margin-inline: auto;
}

.advantages-table {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.adv-row {
  display: flex;
  background-color: #1a1a26;
  padding: 30px;
  border-left: 3px solid #6a6ada;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.adv-label {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 30px;
}

.adv-label img {
  width: 60px;
  height: auto;
  filter: brightness(1.3);
}

.adv-text {
  flex: 1;
  text-align: left;
  font-size: 18px;
  color: #ccc;
  line-height: 1.7;
}

@media (max-width: 768px) {
  .adv-row {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
  }

  .adv-label {
    padding-right: 0;
    margin-bottom: 15px;
  }

  .adv-text {
    text-align: center;
  }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee7e7;
    padding: 40px 50px;
    gap: 50px;
}


.footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    text-align: right;
}

.footer-left h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

.footer-left p {
    font-size: 14px;
    margin: 5px 0;
}


.social-icons {

    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 8px;
    text-decoration: none;
    color: #6a6ada;
    transition: background 0.3s ease;
}


.footer-divider {
    width: 3px;
    height: 120px; 
    background: rgba(255, 255, 255, 0.3);

}

.footer-right {
    display: flex;
    align-items: center;
}

.footer-columns {
    display: flex;
    gap: 30px;
}

.footer-column {
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 12px;
}

.footer-column a {
    text-decoration: none;
    color: inherit; 
    font-size: 14px;
    margin: 5px 0;
    transition: color 0.3s ease;
}


@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-left {
        align-items: center;
        text-align: center;
    }

    .footer-right {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .footer-divider {
        height: 2px;
        width: 100px;
    }
}