/* Reset and basic styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #141420;
    color: #999AA1;
  }
  
  /* Header */
  header {
    background-color: #26263b;
    padding: 1rem;
    display: flex;
    align-items: center;
  }
  
  .logo {
    display: flex;
    align-items: center; /* Aligns items (image and text) vertically in the center */
  }
  
  .logo img {
    height: 40px;
    margin-right: 1rem;
  }
  
  .logo h1 {
    font-size: 1.5rem;
    margin: 0; /* Ensure there's no default margin */
  }
  
  
  /* Container */
  .container {
    display: flex;
    flex: 1;
  }
  
  /* Sidebar */
  .sidebar {
    width: 250px;
    background-color: #141420;
    padding: 1rem;
    color: white;
  }
  
  .sidebar nav ul {
    list-style: none;
  }
  
  .sidebar nav ul li {
    margin-bottom: 0.5rem;
  }
  
  .sidebar nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    display: block;
    border-radius: 4px;
  }
  
  .sidebar nav ul li a:hover {
    background-color: #48489e;;
  }
  
  .sidebar nav ul li a.active {
    background-color: #6a6ada; /* Matches the hover color */
    color: #fff;               /* Keeps the text white */
  }

  
  /* Content Area */
  .content {
    padding: 2rem;
    flex: 1;
    background-color: rgb(20, 20, 29);
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
  }
  
  .content h2 {
    margin-bottom: 1rem;
  }
  
  .content p {
    line-height: 1.6;
    margin-bottom: 1rem;
  }

  
.subscription-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.subscription-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c2c44;
  padding: 15px 20px;
  border-radius: 8px;
  box-sizing: border-box; /* Include padding in width calculations */
  width: 100%; /* Ensure the item takes full width of its container */
}

.info {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-grow: 1; /* Allow .info to grow and take available space */
}

.icon {
  width: 40px; /* Adjust the size of the icons */
  height: 40px;
}

.name {
  font-size: 18px; /* Make the text larger */
  color: #e0e0e0;
}

.actions {
  display: flex;
  gap: 10px;
}


.extend-button, .gift-button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.extend-button {
  background-color: #26263b;
  color: #8f8f8f;
  text-decoration: none;
}

.gift-button {
  background-color: #505050;
  color: #ffffff;
}

.extend-button:hover {
  background-color: #3f3f63;
}

.gift-button:hover {
  background-color: #606060;
}
